@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.navigation {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.4em;
  margin: -10px;
  height: 70px;
  background: #ecf0f1;
}
body{
  background-color: #fff3f0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23dde3e2' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23bbd3d4' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2399c4c6' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2377b4b8' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2355a4aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
main h2{
  font-size: 1.3em;
}
main{
  max-width: 650px;
  max-height: 650px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(to right, #Edefee, #d0ece9);
}
.photo{
  display: flex;
  justify-content: center;
  clip-path: circle(230px at center);
  z-index: -1;
}
.description{

  font-size: 1.2em;
}
.brand {
  position: absolute;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ecf0f1;
  color: #000000;
  text-decoration: none;
}
nav ul li a:hover, .reg:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 10px;
}
.reg{
 float: right;
 margin-top: -67px;
 height: 65px;
 width: 100px;
 border-radius: 20px;
 border:1px solid rgb(212, 154, 218);
 font-family: 'Do Hyeon', sans-serif;
 font-size: 20px;
}



/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ecf0f1;
  height: 68px;
  width: 80px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile{
    display: block;
  }
  .img{
  width:70%;
  height: 70%;
  }
  .reg{
	position: fixed;
	margin-left: 70%;
	margin-top: -10px;	
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li a {
    padding: 10px;
    line-height: 20px;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 10px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}




.container h1 {
	font-weight: bold;
	margin: 0;
}

.container h2 {
	text-align: center;
}

.container p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.container a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.container button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container button:active {
	transform: scale(0.95);
}

.container button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.container input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.closeicn{
	height: 45px;
	position: absolute;
	z-index: 15;
}
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
      0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
  overflow: hidden;
  right: 0;
  left: 0;
  top: 15%;
  margin: auto;
	width: 768px;
	max-width: 100%;
  min-height: 480px;
}
#zatemnenie {
  background: rgba(48, 48, 48, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
#zatemnenie:target {display: block;}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}