@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.navigation {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 1.4em;
  margin: -10px;
  height: 70px;
  background: #ecf0f1;
}
body{
  background-color: #fff3f0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23dde3e2' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23bbd3d4' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2399c4c6' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2377b4b8' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2355a4aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

main{
  max-width: 700px;
  max-height: 700px;
  margin: 100px auto;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(to right, #Edefee, #C9c9c9);
}
.photo{
  margin-left: 40%;
}
.description{

  font-size: 1.5em;
}
.brand {
  position: absolute;
  line-height: 25px;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ecf0f1;
  color: #000000;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 10px;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ecf0f1;
  height: 68px;
  width: 80px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
.photo{
  width:70%;
  height: 70%;
  margin: 0 15%;
}
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }

  nav ul li a {
    padding: 10px;
    line-height: 20px;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 10px;
  height: 5px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
